body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
  }
 header {
    
    background-color: #00BF63;
    display: flex;
    justify-content: center;
    height: 110px;

    padding: 20px;
  }

  ul {
    list-style: none; 
    padding: 0; 
  }

  li {
    display: inline; 
    margin-right: 10px; 
  }

  .list a {
    width: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 100px 130px;
    padding: 15px 30px;
    text-decoration: none;
    color: #f0f0f0; 
    background-color: #09fd3e;
  }
  
  .list a:hover{
  background-color: transparent;
  border: 2px solid #09fd3e;
  color: #09fd3e;
  }

  .logo{
    display: flex;
    height: 400px;
    top: -15%;
    left: -15%;
    position: absolute;
  }

  .login-box {
    width: 320px;
    height: 420px;
    color: #00BF63;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
   
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }

  

  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #00BF63;
    background: transparent;
    outline: none;
    height: 40px;
    color: #00BF63;
    font-size: 16px;
  }
  
  

  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: #00BF63;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #00BF63;
    color: #fff;
  }

  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }